doctype
html(lang=config.language)
    head
        include head
    body
        a.sr-only.sr-only-focusable(id="skippy" href="#main")
            .wrap
                span.skiplink-text!= __('skip_to_main_content')
        .wrap
            header
                a.logo-link(href=url_for())
                    picture
                        source(srcset=url_for(theme.logo3x) alt="logo" media="(-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx)")
                        source(srcset=url_for(theme.logo2x) alt="logo" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)")
                        img(src=url_for(theme.logo) alt="logo")
                include nav
            main.container#main
                block container
            footer
                block pagination
                block copyright
        include scripts
